*{
    margin: 0;
    padding: 0;
}

header,
.offcanvas{
    background-color: #867FEA;
}

.navbar-toggler {
    border-color: rgba(0,0,0,0);
}

.hover-text{
    color: #F8F8FFFF !important;
}

.hover-text:hover{
    color: darkgray !important;
}

