*{
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}


header,
.offcanvas{
    background-color: #867FEA;
}

#sidebar{
    width: 20%;
    height: 100vh;
}

.hover-text{
    color: #5A709F !important;
}

.hover-text:hover{
    color: darkgray !important;
}

.offcanvas-header,
.offcanvas-body{
    background-color: #867FEA;
}