* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #867FEA;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030;
  height: 76px;
}

html,
body {
  height: 100%;
}

body {
  background: #e5e5e5;
  height: 100vh;
  box-sizing: border-box;
}

.desktop-sidebar {
  position: fixed;
  top: 76px;
  left: 0;
  width: 250px;
  height: calc(100vh - 76px);
  background: #fff;
  z-index: 1020;
}
