/* サイドバーの余白調整用グローバルスタイル */
.main-content-wrapper {
    padding-left: 300px;
    padding-top: 85px;
}

.login-wrapper {
    padding-left: 0;
    padding-top: 85px;
}

@media (max-width: 991.98px) {
    .main-content-wrapper {
        margin-left: 0;
    }
}

