/* ホバー時の色変更 */
.sidebar-content a:hover {
    background-color: #5a4cbc;
    color: white;
    text-decoration: none;
}

.nav-label {
    font-size: 0.8rem;
    color: white;
    margin-top: 4px;
}

.input-group .form-control:focus {
    box-shadow: none;
}


.top-sidebar {
    top: 75px; /* ヘッダーの高さ */
    left: 0;
    width: 100px;
    height: 100vh;
    background-color: #867FEA;
    position: fixed;
    overflow-y: auto;
    padding-top: 40px;
}

.post-word{
    word-wrap: break-word;
}