*{
    margin: 0;
    padding: 0;
}

/* header,
.offcanvas{
    background-color: #50C878;
} */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030; /* Bootstrapのナビバーと重ならないように */
}

/* .sidebar {
  top: 60px; 
  left: 0;
  height: calc(100vh - 60px);
  width: 100px; 
  background-color: #50C878;
  overflow-y: auto;
  padding-top: 40px;
  z-index: 1020;
} */
.sidebar {
  top: 60px;
  left: 0;
  height: calc(100vh - 60px);
  width: 100px;
  /* background-color: #50C878; 削除 */
  overflow-y: auto;
  padding-top: 40px;
  z-index: 1020;
}

.navbar-toggler {
    border-color: rgba(0,0,0,0);
}

.hover-text:hover{
    color: darkgray !important;
}

/* ホバー時の色変更 */
.sidebar-content a:hover {
  background-color: #c1bdfa;
  color: white;
  text-decoration: none;
}

/* アクティブリンクの強調 */
.sidebar-content a.active {
  background-color: #0d6efd;
  color: white;
}

.nav-label {
  font-size: 0.8rem;
  color: white;
  margin-top: 4px;
}

.input-group.rounded-pill {
  border: 1px solid #ccc;
  border-radius: 50px;
}

.input-group .form-control:focus {
  box-shadow: none;
}

body.bg-light {
    padding-top: 80px;
}
.logo-img {
    width: 50px;
}
.account-img {
    width: 50px;
}
.sidebar-fixed {
    top: 75px;
    left: 0;
    height: 100vh;
    background-color: #867FEA;
    position: fixed;
}
.main-content-community {
    padding-top: 150px;
}
.card-community-create {
    max-width: 800px;
}
@media (max-width: 900px) {
    .main-content-community {
        padding-top: 90px;
    }
    .card-community-create {
        max-width: 98vw;
        width: 98vw;
        margin-left: auto;
        margin-right: auto;
    }
}



